<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <div layout:fragment="content" class="content">

        <div class="cartListBox">
            <div class="cartListText">장바구니</div>
            <table class="cartList">
                <tr class="cartTitle">
                    <td><input type="checkbox" class="checkbtn"></td>
                    <td>제품이미지</td>
                    <td>제품명</td>
                    <td>옵션</td>
                    <td>수량</td>
                    <td>판매가</td>
                </tr>
                <tr class="cartCon">
                    <td><input type="checkbox" class="checkbtn"></td>
                    <td><img src="/pImg/" class="cartImg"></td>
                    <td class="cartPname"></td>
                    <td class="cartSize"></td>
                    <td class="cartOption"></td>
                    <td class="cartPrice"></td>
                </tr>
                <tr>
                    <td colspan="4" class="totaltext">총 결제 금액</td>
                    <td colspan="2" class="totalprice"></td>

                </tr>
            </table>

            <div>
                <button type="button" class="cartDeleteBtn"> 삭제하기 </button>
                <button type="button" class="cartAddBtn" onclick="cartAdd()"> 구매하기 </button>
            </div>
        </div>
    </div>


    <!-- 스크립트 불러오기 -->
    <th:block layout:fragment="script">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="/js/product/cart.js"></script>
    </th:block>
</body>
</html>