<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
  <meta charset="UTF-8">
  <title>toString</title>
</head>

<body>
    <div layout:fragment="content" class="content">

      <h3>장바구니</h3>
      <div class="cartList">

      </div>

    </div>


    <!-- 스크립트 불러오기 -->
    <th:block layout:fragment="script">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="/js/product/productView.js"></script>
    </th:block>
</body>
</html>