<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="content" class="content">
        <div>
            <h3> 상품 등록페이지 </h3>
            <div>

                <div>
                    <span>
                        대표이미지
                    </span>
                    <span>
                        <input type="file" name="pimg" class=pimg">
                    </span>
                </div>

                <div>
                    <span>
                        제품명
                    </span>
                    <span>
                        <input type="text" name="pname" class=pname">
                    </span>
                </div>
                <div>
                    <span>
                        판매가
                    </span>
                    <span>
                        <input type="text" name="pprice" class=pprice">
                    </span>
                </div>
                <div>
                    <span>
                        할인율
                    </span>
                    <span>
                        <input type="text" name="pdiscount" class=pdiscount">
                    </span>
                </div>
                <div>
                    <span>
                        판매상태
                    </span>
                    <span>
                        <input type="text" name="pactive" class=pactive">
                    </span>
                </div>

            </div>


        </div>
    </div>

</body>
</html>