<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>

    <!-- 이따 삭제 -->
    <link rel="stylesheet" href="/css/productView.css">

</head>

<body>

    <div layout:fragment="content" class="content">
      <div class="productView">
          <form class="setform">
              <div class="viewBox">
                  <div class="viewBoxImg"> <!--제품이미지-->
                      <img src="" class="viewPimg">
                  </div>
                  <table class="viewBoxText">
                      <tr>
                          <td class="pname" colspan="2"><!--제품명--></td>
                      </tr>
                      <tr class="ppriceBox2">
                          <td class="viewTitle">소비자가</td>
                          <td class="viewPrice"></td>
                      </tr>
                      <tr>
                          <td class="viewTitle">판매가</td>
                          <td>
                              <span class="viewDiscountprice"> <!--할인가--></span>
                              <span class="viewPdBox"> <span class="viewPdiscount"><!--할인율--></span> </span>

                          </td>

                      </tr>

                      <tr>
                          <td class="viewTitle">쿠폰</td>
                          <td class="couponBox">
                              <a href="javascript:void(0)">
                                  <img src="/images/coupon.png" class="coupon">
                              </a>
                          </td>
                      </tr>

                      <tr>
                          <td class="viewTitle">사이즈</td>
                          <td class="sizeBox"></td>
                      </tr>
                      <tr>
                          <td class="viewTitle">컬러</td>
                          <td class="colorBox"></td>
                      </tr>

                      <tr>
                          <td class="viewBtBox" colspan="2">
                              <button type="button" class="buyBtn">💰 바로구매</button>
                              <button type="button" class="likeBtn">💖 찜하기</button>
                              <button type="button" class="cartBtn">🛒 장바구니</button>
                          </td>
                      </tr>

                  </table>
              </div>
          </form>
      </div>

    </div>

    <!-- 스크립트 불러오기 -->
    <th:block layout:fragment="script">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="/js/product/productView.js"></script>
    </th:block>
</body>
</html>