<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
    <link rel="stylesheet" href="/css/review.css">
</head>

<body>

    <div layout:fragment="content" class="content">


        <div class="boardCon">
            <div class="boardSearchBox">
                <select class="key">
                    <option>전체</option>
                    <option value="btitle">제목</option>
                    <option value="bcontent">내용</option>
                </select>
                <input type="text" class="keyWord" placeholder="검색어를 입력하세요">
                <button type="button" onclick="rSearch()" class="boardSBtn">
                    <img src="/images/icon_sc.png">
                </button>
            </div>
            <div class="listBox">
                <div class="reviewlist">

                </div>

                <div class="boardWBtn">
                    <button><a href="/board/write">글작성</a></button>
                </div>

                <div class="pageBox">

                </div>
            </div>
        </div>


    </div>


    <!-- 스크립트 불러오기 -->
    <th:block layout:fragment="script">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/board/review.js"></script>
    </th:block>
</body>
</html>