<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
    <link rel="stylesheet" href="/css/boardView.css">
</head>



<body>
    <div layout:fragment="content" class="content">
        <div class="boardViewBox">
            <div class="boardViewText">
                후기 상세 게시판
            </div>
            <div>
                <div class="rlist">
                </div>
                <div class="rBtnBox">
                    <button onclick="rDelete()" class="rDeleteBtn"> 삭제 </button>
                    <button class="returnBtn"><a href="/board/rList">뒤로가기</a></button>
                </div>
            </div>
        </div>
    </div>

    <!-- 스크립트 불러오기 -->
    <th:block layout:fragment="script">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/board/rListview.js"></script>
    </th:block>
</body>
</html>