<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
    <link rel="stylesheet" href="/css/rListUpdate.css">
</head>


<body>
    <div layout:fragment="content" class="content">

        <div class="rUpdateBox">
            <div class="rUpdatText"> 게시글 수정 </div>

            <div>
                <select class="categorylist">
                    <option onclick=""></option>
                </select>
            </div>

            <form class="updateform" name="myform" id="myform" method="post">
                <div>
                    <div>
                        <fieldset>
                            <input type="radio" name="bstar" value="5" id="rate1" class="star1">
                            <label for="rate1">★</label>
                            <input type="radio" name="bstar" value="4" id="rate2" class="star2">
                            <label for="rate2">★</label>
                            <input type="radio" name="bstar" value="3" id="rate3" class="star3">
                            <label for="rate3">★</label>
                            <input type="radio" name="bstar" value="2" id="rate4" class="star4">
                            <label for="rate4">★</label>
                            <input type="radio" name="bstar" value="1" id="rate5" class="star5">
                            <label for="rate5">★</label>
                        </fieldset>
                    </div>
                    <div>
                        <input type="text" placeholder="제목" class="btitle" name="btitle">
                    </div>
                    <div>
                        <textarea placeholder="내용" class="bcontent" name="bcontent">
                        </textarea>
                        <img src="" class="rfileImg">

                    </div>
                    <div>
                        <input type="file" class="bfile" name="bfile">
                    </div>
                    <button type="button" onclick="rUpdate()" class="rUpdateBtn"> 등록 </button>
                </div>
            </form>
        </div>
    </div>


    <!-- 스크립트 불러오기 -->
    <th:block layout:fragment="script">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/board/rListUpdate.js"></script>
    </th:block>

</body>
</html>