<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/rListUpdate.css">
</head>
<body>
    <div>
        <div> 게시글을 등록할 게시판을 선택하세요 </div>
        <div>
            <select class="categorylist">
                <option onclick=""></option>
            </select>
        </div>
    </div>
    <form class="updateform" name="myform" id="myform" method="post">
        <div>
            <div>
                <fieldset>
                    <div> 별점 선택 </div>
                    <input type="radio" name="bstar" value="5" id="rate1" class="star1">
                    <label for="rate1">★</label>
                    <input type="radio" name="bstar" value="4" id="rate2" class="star2">
                    <label for="rate2">★</label>
                    <input type="radio" name="bstar" value="3" id="rate3" class="star3">
                    <label for="rate3">★</label>
                    <input type="radio" name="bstar" value="2" id="rate4" class="star4">
                    <label for="rate4">★</label>
                    <input type="radio" name="bstar" value="1" id="rate5" class="star5">
                    <label for="rate5">★</label>
                </fieldset>
            </div>
            <div>
                <input type="text" class="btitle" name="btitle">
            </div>
            <div>
                <textarea class="bcontent" name="bcontent"></textarea>
            </div>
            <div>
                <input type="file" class="bfile" name="bfile">
            </div>
            <button type="button" onclick="rUpdate()"> 등록 </button>
        </div>
    </form>



    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/rListUpdate.js"></script>
</body>
</html>