<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
    <link rel="stylesheet" href="/css/bcategory.css">
</head>

<body>

    <div layout:fragment="content" class="content">

        <div class="bcategoryBox">
            <div class="bcategoryCon">
                <div class="bcategorText"> 게시판 카테고리 등록 </div>
                <form>

                    <input type="text" placeholder="카테고리명" class="bcname" name="bcname">
                    <button type="button" onclick="setWrite()" class="setBcategoryBtn"> 등록 </button>

                </form>
            </div>
        </div>

    </div>

    <!-- 스크립트 불러오기 -->
    <th:block layout:fragment="script">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/board/setBcategory.js"></script>
    </th:block>
</body>
</html>