<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
</head>

<!-- 스크립트 불러오기 -->
<th:block layout:fragment="script">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/setBcategory.js"></script>
</th:block>

<body>

    <div layout:fragment="content" class="content">

    <form>

      <input type="text" placeholder="카테고리명" class="bcname" name="bcname">
      <button type="button" onclick="setWrite()"> 등록 </button>

    </form>

    </div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/board/setBcategory.js"></script>

</body>
</html>