<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <div> 시연영상 상세 게시판 </div>
        <div>
            <div class="tlist">


            </div>
            <div>
                <button onclick="rDelete()"> 삭제 </button>
            </div>
            <div>
                <button><a href="/board/tList">뒤로가기</a></button>
            </div>
        </div>
    </div>



    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/tListview.js"></script>

</body>
</html>