<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
</head>

<!-- 스크립트 불러오기 -->
<th:block layout:fragment="script">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/tListview.js"></script>
</th:block>

<body>
    <div layout:fragment="content" class="content">
        <div> 시연영상 상세 게시판 </div>
        <div>
            <div class="tlist">


            </div>
            <div>
                <button onclick="rDelete()"> 삭제 </button>
            </div>
            <div>
                <button><a href="/board/tList">뒤로가기</a></button>
            </div>
        </div>
    </div>



    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/board/tListview.js"></script>

</body>
</html>