<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
    <link rel="stylesheet" href="/css/boardView.css">
</head>


<body>
    <div layout:fragment="content" class="content">

        <div class="boardViewBox">
            <div class="boardViewText">
                시연영상 상세 게시판
            </div>

            <div class="tlist">
            </div>
            <div>
                <button onclick="rDelete()"> 삭제 </button>
            </div>
            <div>
                <button><a href="/board/tList">뒤로가기</a></button>
            </div>
        </div>
        </div>

    </div>



    <!-- 스크립트 불러오기 -->
    <th:block layout:fragment="script">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/board/tListView.js"></script>
    </th:block>

</body>
</html>