<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>

    <link rel="stylesheet" href="/css/findid.css">

</head>

<!-- 스크립트 불러오기 -->
<th:block layout:fragment="script">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member/login.js"></script>
</th:block>

<body>

    <div layout:fragment="content" class="content">
        <div class="findIdBox">
            <div class="findIdInput">
                <input type="text" class="mname" placeholder="이름">
                <input type="text" class="memail" placeholder="이메일">
                <button type="button" onclick="findId()" class="findIdBtn"> 아이디 찾기 </button>
                <div class="findid">
                </div>
            </div>
        </div>

    </div>
</body>
</html>