<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ index }">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
</head>

<!-- 스크립트 불러오기 -->
<th:block layout:fragment="script">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member/login.js"></script>
</th:block>

<body>

    <div layout:fragment="content" class="content">

        <h3> 비밀번호 찾기</h3>
        <input type="text" class="mname" placeholder="이름"> <br>
        <input type="text" class="mid" placeholder="연락처"> <br>
        <button type="button" onclick="findPw()"> 비밀번호 찾기 </button>
        <div class="findpw">

        </div>
        <br><br>
        <a href="/"> <button type="button"> 메인페이지 </button> </a>

<!--        <script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<!--        <script src="/js/member/login.js"></script>-->
    </div>

</body>
</html>