<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3> 비밀번호 찾기</h3>
    이름 <input type="text" class="mname"> <br>
    아이디 <input type="text" class="mid"> <br>
    <button type="button" onclick="findPw()"> 비밀번호 찾기 </button>
    <div>
        <span> 비밀번호  </span>
        <span class="findpw"> </span>
    </div>
    <br><br>
    <a href="/"> <button type="button"> 메인페이지 </button> </a>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member/login.js"></script>
</body>
</html>