<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <h3> 아이디 찾기</h3>
    이름 <input type="text" class="mname"> <br>
    이메일 <input type="text" class="memail"> <br>
    <button type="button" onclick="findId()"> 아이디 찾기 </button>
    <div>
      <span> 아이디  </span>
      <span class="findid"> </span>
    </div>
    <br><br>
    <a href="/"> <button type="button"> 메인페이지 </button> </a>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member/login.js"></script>
</body>
</html>