<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <form class="loginbox">
      <div>
        <div> <input type="text" class="mid" placeholder="아이디"> </div>
        <div> <input type="text" class="mpw" placeholder="비밀번호"> </div>
      </div>
    </form>

    <div>
      <button type="button" onclick="setLogin()"> 로그인 </button>
    </div>
    <div>
        <a href="/member/getId"><button type="button" > 아이디 찾기 </button> </a><br>
        <a href="/member/getpassword"><button type="button"> 비밀번호 찾기 </button> </a>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member/login.js"></script>

</body>
</html>