<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div th:fragment="footer">
        <div class="footer">
            <div class="footerBox">
                <div class="fLogo">
                    <img src="/images/flogo.png">
                </div>
                <div class="fContent">
                    <div>
                      (주)toString 대표이사 허혜영 사업자 등록번호 : 920-214-02140
                    </div>
                    <div>
                      경기 안산시 상록구 광덕1로 375 강우프라자 5층()
                    </div>
                    <div>
                      Copyright 2022. toString all rights reserved.
                    </div>
                </div>
                <div class="fIcon">
                    <div>
                      <img src="">
                    </div>
                    <div>
                      <img src="">
                    </div>
                    <div>
                      <img src="">
                    </div>
                    <div>
                      <img src="">
                    </div>
                    <div>
                      <img src="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>