<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="footer">
        <div class="footer">
            <div class="footerBox">
                <div class="fLogo">
                    <img src="/images/flogo.png">
                </div>
                <div class="fContent">
                    <div>
                      (주)toString 포트폴리오 제작 허혜영 920-214-02140
                    </div>
                    <div>
                        본 페이지는 상업적 목적이 아닌 개인 포트폴리오용으로 제작되었습니다.
                    </div>
                    <div>
                        Copyright 2022. HyeYoung Heo all rights reserved.
                    </div>
                </div>
                <div class="fIcon">
                    <span>
                        <img src="/images/icon_ins_ft.png">
                    </span>
                    <span>
                      <img src="/images/icon_fb_ft.png">
                    </span>
                    <span>
                        <img src="/images/icon_you_ft.png">
                    </span>
                    <dspaniv>
                        <img src="/images/icon_blog_ft.png">
                    </dspaniv>
                    <span>
                        <a href="https://github.com/ssunmoo/toString">
                        <img src="/images/icon_git_ft.png"></a>
                    </span>

                </div>
            </div>
        </div>
    </div>
</body>
</html>