<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>toString</title>
</head>
<body>

    <div th:fragment="header">
        <div class="header">
            <div class="top">
                <div class="topbox">
                    카카오톡 친구추가 시 2,000원 쿠폰 증정!
                </div>
            </div>
            <div class="midd">
                <div class="midbox">
                    <div class="snsMenu">
                        <div>
                            <img src="/images/icon_you_hd_col.png">
                            투스트링TV
                        </div>
                        <div>오프라인방문예약</div>
                        <div>
                            <span><a href="#"><img src="/images/icon_fb_hd.png"></a></span>
                            <span><a href="#"><img src="/images/icon_ins_hd.png"></a></span>
                            <span><a href="#"><img src="/images/icon_blog_hd.png"></a></span>
                            <span><a href="#"><img src="/images/icon_you_hd.png"></a></span>
                        </div>
                    </div>
                    <div class="userMenu">
                        <div>
                            <span><a href="/member/signup">회원가입</a></span>
                            <span><a href="/member/login">로그인</a></span>
                            <span><a href="#">주문조회</a></span>
                            <span><a href="#">장바구니</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="bottomBox">
                    <div class="logoBox">
                        <a href="/"><img src="/images/logo.png"></a>
                    </div>
                    <div class="searchBox">
                        <div class="searchImg">
                            <img src="/images/simg.PNG">
                        </div>
                        <div>
                            <div class="searchInput">
                                <span><input type="text" class="search"></span>
                                <span><img src="/images/icon_sc.png"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="menuBox">
                    <div class="boardMenu">
                        <span>공지사항</span>
                        <span>상품문의</span>
                        <span><a href="/board/rList">구매후기</a></span>
                        <span><a href="/board/write">시연영상</a></span>
                    </div>
                    <div class="productMenu">
                        <span><a href="#">건반악기</a></span>
                        <span><a href="#">현악기</a></span>
                        <span><a href="#">기타/우쿨렐레</a></span>
                        <span><a href="#">전자드럼</a></span>
                        <span><a href="#">교재용악기</a></span>
                        <span><a href="#">악세사리</a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>