@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.bcategoryBox{
    margin: 0 auto;
    width: 600px;
    height: 700px;
}

.bcategoryCon{
    margin-top: 50px;
}

.bcategorText{
    text-align: center;
    background: #fff;
    padding: 0 15px;
    color: #333;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bcname{
    width: 400px;
    height: 35px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    color: #333;
    border: 1px #a7a7a7 solid;
    padding-left: 15px;
}

.setBcategoryBtn{
    width: 100px;
    height: 35px;
    color: #fff;
    background: #2c2c2c;
    text-align: center;
    line-height: 2.5;
    font-size: 14px;
    font-weight: 200;
    margin-left: 20px;
}

.setBcategoryBtn:hover{
    background: #494949;
}