@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.boardViewBox{
    margin: 0 auto;
    width: 700px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 150px;
}

.boardViewText{
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-size: 25px;
    margin: 50px 0;
    color: #333;
    text-align: center;
}

.profileImg{

}

.profileImg img{
    width: 50px;
    height: 50px;
    background: #f4cb49;
    border-radius: 50px;
}

.rViewMnameBox{
    margin-left: 20px;
}
.rViewMname{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    color: #333;
    margin-left: 20px;
    line-height: 2.5;
}


.rViewTitle{
    font-family: 'Pretendard-Regular';
    font-weight: 500;
    font-size: 23px;
    color: #333;
    margin-left: 20px;
    margin-top: 10px;
}

.rViewCon{
    height: 400px;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    color: #333;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 20px;
}


.rBtnBox{
    float: right;
}

.returnBtn{
    width: 100px;
    height: 35px;
    color: #fff;
    background: #7e7e7e;
    text-align: center;
    line-height: 2.5;
    font-size: 14px;
    font-weight: 200;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.returnBtn:hover{
    background: #494949;
}

.rDeleteBtn{
    width: 100px;
    height: 35px;
    color: #fff;
    background: #2c2c2c;
    text-align: center;
    line-height: 2.5;
    font-size: 14px;
    font-weight: 200;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.rDeleteBtn:hover{
    background: #494949;
}

#myform{

    margin-left: 20px;
}

#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#myform fieldset legend{
    text-align: right;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-family: 'Pretendard-Regular';
    font-size: 1.5em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 13px;
    resize: none;
}