@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.cartListBox{
    margin: 0 auto;
    width: 1000px;
    height: 800px;
    padding-top: 50px;
}

.cartListText{
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-size: 25px;
    margin: 50px 0;
    color: #333;
    text-align: center;
}

table tr, td{
    border-bottom: 1px solid #ccc;
}

.cartImg img{
    width: 100px;
    height: 100px;
    margin: 10px 0;
}
.cartList{
    text-align: center;
    line-height: 3;
}

.cartCon{
    line-height: 7;
}

.cartTitle{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background: #f1f1f1;
}

.cartTitle td:nth-child(1){
    width: 50px;
}

.cartTitle td:nth-child(2){
    width: 300px;
}

.cartTitle td:nth-child(3){
    width: 400px;
    height: 35px;
}

.cartTitle td:nth-child(4), .cartTitle td:nth-child(5){
    width: 100px;
}

.cartTitle td:nth-child(6){
    width: 180px;
}

.cartCon{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    color: #333;
}


.cartAddBtn{
    float: right;
    width: 100px;
    height: 35px;
    color: #fff;
    background: #2c2c2c;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin-top: 20px;
}

.cartAddBtn:hover{
    background: #494949;
}

.cartDeleteBtn{
    float: right;
    width: 100px;
    height: 35px;
    color: #fff;
    background: #a6a6a6;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin-top: 20px;
    margin-left: 10px;
}

.cartDeleteBtn:hover{
    background: #545454;
}

.totaltext{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    font-weight: 600;
    color: #282828;
}

.totalprice{
    text-align: right;
    padding-right: 47px;
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    font-weight: 600;
    color: #282828;
}