@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.loginCon{
    margin: 0 auto;
    width: 600px;
    height: 700px;
}

.loginbox{
    margin-top: 50px;
}

.loginInputBox, .loginBtnBox{
    text-align: center;
}

.mid, .mpw{
    width: 400px;
    height: 55px;
    padding-left: 15px;
    border: 1px solid #a7a7a7;
    margin-top: 10px;
    font-family: 'Pretendard-Regular';
    color: #333;
}

.loginBtn{
    width: 400px;
    height: 55px;
    background: #f4cb49;
    margin-top: 20px;
    color: #fff;
    font-family: 'Pretendard-Regular';
    font-weight: 500;
    font-size: 18px;
}

.loginBtn:hover{
    background: #ecc23c;
}


.loginBtnBox{
    margin-top: 40px;
}

.loginFindId{
    border-right: 1px solid #a7a7a7;
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    color: #575757;
}

.loginFindPw{
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    color: #575757;
}

.signupBtnbox{
    text-align: center;
    width: 400px;
    height: 55px;
    border: 1px solid #f4cb49;
    margin-top: 10px;
    color: #f4cb49;
    font-family: 'Pretendard-Regular';
    font-weight: 500;
    font-size: 18px;
    margin-left: 100px;
    line-height: 3;
}

.snsLoginBox{
    margin-top: 30px;
    text-align: center;
}

.loginCategory1:before {
    content: '';
    width: 400px;
    height: 1px;
    background: #ccc;
    left: 760px;
    top: 778px;
    position: absolute;
    text-align: left;
    float: left;
}

.loginCategory2:before {
    content: '';
    width: 400px;
    height: 1px;
    background: #ccc;
    left: 760px;
    top: 1190px;
    position: absolute;
    text-align: left;
    float: left;
}

.loginCaText{
    width: 100px;
    background: #fff;
    position: relative;
    padding: 0 15px;
    color: #333;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.loginCategory1,.loginCategory2{
    margin: 20px 0;
}

.loginIcon{
    width: 80px;
    padding: 10px;
}