@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


.productView{
    margin-top: 150px;
    margin-bottom: 300px;
}
.viewBox{
    display: flex;
    justify-content: space-around;
}

.viewBoxImg{
    width: 550px;
    height: 600px;
}

.viewPimg{
    width: 100%;
    height: 100%;
}

.viewBoxText{
    width: 550px;
    height: 600px;
}

table td{
    vertical-align: middle;
}

.pname{
    font-family: 'Pretendard-Regular';
    padding-top: 10px;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
}

.ppriceBox2{
    font-family: 'Pretendard-Regular';
    padding-top: 10px;
}



.viewTitle{
    width: 80px;
    font-size: 17px;
    font-family: 'Pretendard-Regular';
}

.viewPrice{
    padding-left: 15px;
    font-size: 22px;
    color: #b8b8b8;
    text-decoration: line-through;
    line-height: 1.5;
}

.discountprice{
    width: 100px;
}
.pdiscount{
    padding-left: 10px;
}
.viewBoxText tr:nth-child(1){
    height: 70px;
}
.viewBoxText tr:nth-child(2){
    height: 60px;
}

.viewBoxText tr:nth-child(3),.viewBoxText tr:nth-child(5), .viewBoxText tr:nth-child(6){
    height: 50px;
}

.viewDiscountprice{
    margin-left: 15px;
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

.viewPdBox{
    border-radius: 5px;
    background: #de570c;
    padding: 7px;
}

.viewPdiscount{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
    text-align: center;

}



.won1{
    font-size: 17px;
    text-decoration: line-through;
    color: #b8b8b8;
    line-height: 2;
}

.won2{
    font-size: 17px;
}


.viewBtBox{
    text-align: center;
}

.likeBtn{
    width: 150px;
    height: 60px;
    border: solid 1px #e8e8e8;
}

.cartBtn{
    width: 150px;
    height: 60px;
    border: solid 1px #e8e8e8;
}

.buyBtn{
    width: 150px;
    height: 60px;
    color: #fff;
    background: #bd3020;
}

.likeBtn:hover, .cartBtn:hover{
    background: #f6f6f6;
}
.buyBtn:hover{
    background: #bd2912;
}
.couponBox{
    height: 150px;
    margin: 20px 0;
}
.coupon{
    width: 250px;
}
