<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>toString</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/content.css}" rel="stylesheet">
    <link th:href="@{/css/write.css}" rel="stylesheet">
    <link th:href="@{/css/rListUpdate.css}" rel="stylesheet">

    <!-- css초기화 -->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link rel="stylesheet" href="/css/index.css">
    <!-- Libre Baskerville 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <th:block layout:fragment="css"></th:block>

</head>
<body>
    <div th:replace="fragments/header.html ::header"></div>
    <div class="mainImg">
        <img src="/images/main.png">
    </div>
    <div layout:fragment="content" class="content">
        <div class="textBox">
            <div class="mainText">
                New Item
            </div>
        </div>
        <div class="productList">
        </div>
        <div class="eventBanner">
            <img src="/images/main_side_banner.png">
            <div class="Banner2">

            </div>
        </div>
    </div>
    <div th:replace="fragments/footer.html ::footer"></div>

<!--    th : 타임리프 문법
    1. th:fragment = " 이름정의 "
    2. th:replace = "파일명.html :: fragment이름"
    4.  세션 호출 방식
    ${ session.세션이름 }
    3. 조건식
    th:if = 조건식
    th:else = 조건식
    5. 데이터 호출
    th:text  = "${ 데이터 }"
-->
    <th:block layout:fragment="script"></th:block>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/product/productList.js"></script>
</body>
</html>